
body {
    margin: 0; 
}

main {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    padding-top: 50px;
    padding-left: 105px;
}

h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    /* margin: 0px; */
}

span {
    color:#4ADF86;
}

p {
    color: #D5D4D8;
    font-size: 20px;
    font-weight: 400;
}

button {
    background-color: #10B981;
    padding: 9px 16px 9px 16px;
    border-radius: 6px;
    border: none;
    color: #fff;
    margin-top:20px;
    margin-bottom: 30px;
}

.line {
    border-bottom: 2px solid #2F3E53;
    width: 446px;
    margin-top: 10px;
}
/* 
.psw-wrapper {
    display: flex;
    justify-content: 
} */

.psw-container {
    background-color: #273549;
    height: 39px;
    width: 211px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 6px;
    margin-right: 18px;
}